.btn, input[type="submit"] {display:inline-block; padding:.5em 1em; margin-bottom:0; font-size:1em; line-height:20px; color:#333333; text-align:center; text-shadow:0 1px 1px fade(@white,75%); vertical-align:middle; cursor:pointer; .gradient(@white, @grayL1); border:1px solid @gray; border-color:@grayL1 @grayL1 @gray; .border-radius; zoom:1; box-shadow:inset 0 1px 0 fade(@white, 20%), 0 1px 2px fade(black, 5%);
	&:hover {color:#333333; text-decoration:none; background-color:@grayL1; background-position:0 -15px; .transition(background-position 0.1s linear);}
	&.active, &:active {background-image:none; outline:0; box-shadow:inset 0 2px 4px fade(@black, 15%), 0 1px 2px fade(@black, 5%);}
	&:focus {outline:0;}
}

.btn-primary, input[type="submit"] {color:@white; text-shadow:0 -1px 0 fade(@black, 25%); .gradient(@green, @greenD1); border-color:@green @green @greenD1; border-color:fade(@black, 10%) fade(@black, 10%) fade(@black, 25%);
	&:hover, &:active, &.active, &.disabled, &[disabled]{color:@white; background-color:@greenD1;}
}

.btn-facebook, .btn-twitter, .btn-meetup {margin-top:1em; padding:1em 1em .85em; font-size:1.25em;
	i {padding-right:1em; margin-right:.5em; border-right:1px solid #31497e;}
}

.btn-facebook {color:@white; text-shadow:0 -1px 0 fade(@black, 25%); .gradient(@blue, @blueD1); border-color:@blueD1 @blueD1 @blueD2;
	&:hover, &:active, &[disabled] {color:@white; background-color:@blueD1;}
}

.btn-twitter {
	color:@white; text-shadow:0 -1px 0 fade(@black, 25%); .gradient(@blueL3, @blueL2); border-color:@blueL2 @blueL2 @blueL1;
	&:hover, &:active, &[disabled] {color:@white; background-color:@blueL2;}
	i {border-right-color:#2578B4;}
}

.btn-meetup {color:@white; text-shadow:0 -1px 0 fade(@black, 25%); .gradient(@red, @redD1); border-color:@redD1 @redD1 @redD2; margin-right:.5em;
	&:hover, &:active, &[disabled] {color:@white; background-color:@redD1;}
	i {border-right-color:#b72b2d;}
}

.btn-join {
color:@white; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); background-color:#00A78D; background-image:-moz-linear-gradient(top, #00A78D, @greenD1); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#00A78D), to(@greenD1)); background-image:-webkit-linear-gradient(top, #00A78D, @greenD1); background-image:-o-linear-gradient(top, #00A78D, @greenD1); background-image:linear-gradient(to bottom, #00A78D, @greenD1); background-repeat:repeat-x; border-color:@greenD1 @greenD1 @greenD2; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A78D', endColorstr='@greenD1', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-join:hover,
.btn-join:active,
.btn-join[disabled] {
  color:@white; background-color:@greenD1;
}