#footer {border-top:1px dotted @gray; padding-top:.5em; padding-bottom:.75em; margin:3em 0 0; text-align:center; background:@white;
	.btn-mini {margin-left:.5em;
		i {color:@linkColor; font-size:1.25em;}
		&:hover {
			i {color:@linkHoverColor;}
		}
	}
}