#header {
	background:@green;
	padding:2em 5%;
	text-align:center;
	
	
	a {
		color:@greenD2;
		
		&:hover {
			color:fade(@greenD2,50%);
		}
	}
	
	h1 {
		font-family: 'Oleo Script Swash Caps', Georgia, cursive;
		font-size:5.5em;
		line-height:1em;
		display:inline-block;
		margin-right:30px;
		
		a {
			color:@black;
			opacity:.75;
			
			&:hover {
				color:@greenD2;
			}
		}
	}
	
	#navigation {
		display:inline-block;
		
		ul {
			display:inline-block;
			
			li {
				display:inline-block;
				font-size:1.5em;
				margin-right:30px;
				font-weight:bold;
			}
		}
	}
}