.hero-home {
	background:@green;
	
	article {
		max-width: 700px;
		padding:1em 10% 3em;
		margin:0 auto;
	}
	
	h2 {
		font-size:2em;
		margin:.5em 0 1em;
	}
	
	p {
		color:@white;
	}
}

#mc-registration {

	padding-top:3em;
	
	.post {
		background:@yellow;
		max-width:650px;
		margin:0 auto;
		text-shadow:0 -1px 0 fade(@white,50%);
		border-color:fade(@black,25%);
	}
	
	#mc_embed_signup {
		input[type="submit"] {
			display:block;
			width:100%;
		}
	}
}