@media screen and (max-width: 1280px) {
	.hero-home {padding: 4.5em 6% 6em;}
}

@media screen and (max-width: 960px) {
	.hero-home {padding: 4.5em 3% 6em;}
	.hero-home #sidebar {margin:2em 0 0; padding:2em 6%; width:100%;}
	.hero-home article {width:100%; padding:0;}
}

@media screen and (max-width: 768px) {
	
	.other-header h1, .other-header h2 {display:block;}
	.one-fourth, .three-fourths {width:100%;}
	.posts-content {padding:2em 5% 0;}
}

@media screen and (min-width: 640px) and (max-width: 960px){
	.hero-home #sidebar .widget {width:50%; float:left; padding-bottom:0; border:0;
	-webkit-box-sizing:border-box; -mozbox-sizing:border-box; box-sizing:border-box; padding-right:1.5em;}
	.hero-home #sidebar .widget:last-of-type {padding-right:0; padding-left:1.5em; border-left: 1px @green dotted;}
}
	
@media screen and (max-width: 640px) {

	.btn-facebook, .btn-twitter, .btn-meetup {font-size:1em; display:block; margin:1em 0 0;}
	.btn-facebook i, .btn-twitter i {padding-right:.75em;}	
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}
