<!-- 		<footer id="footer" class="source-org vcard copyright">
			<small>&copy;
				<script>document.write(new Date().getFullYear())</script>
				 Tech Under Thirty - <a href="/contact/">Contact Us</a></small>
			<a class="btn-mini" href="https://facebook.com/techunderthirty" target="_blank"><i class="ss-facebook ss-social-circle"></i></a>
			<a class="btn-mini" href="https://twitter.com/techunderthirty" target="_blank"><i class="ss-twitter ss-social-circle"></i></a>
			<a class="btn-mini" href="https://plus.google.com/106271289467655027729" rel="publisher" target="_blank"><i class="ss-googleplus ss-social-circle"></i></a>
		</footer> -->
</body>
</html>