<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>{{ page.title }}</title>
	
	<meta name="author" content="Catt Small, Asia Hoe, and Nicole Dominguez">
	<meta name="Copyright" content="Copyright Catt Small, Asia Hoe, and Nicole Dominguez. All Rights Reserved.">
	<meta name="viewport" content="width=device-width; initial-scale=1;"/>
	<link rel="shortcut icon" href="/img/favicon.png">
	
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:500,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css">

   <!-- Custom CSS -->
   <link rel="stylesheet" href="/css/main.css">
	 
	 {% include google-analytics.html %}
	 
</head>
<body>